ConnectionStrings__Default=Host=postgres;Port=5432;Database=soat_os;Username=postgres;Password=COLOQUE_AQUI
JwtSettings__Secret=MinhaChaveDevSuperSecreta1234567890_32digitos_min
JwtSettings__ExpirationHours=2

RabbitMq__Host=rabbitmq
RabbitMq__VirtualHost=/
RabbitMq__Username=guest
RabbitMq__Password=guest

POSTGRES_DB=soat_os
POSTGRES_USER=postgres
POSTGRES_PASSWORD=COLOQUE_AQUI

ASPNETCORE_ENVIRONMENT=Development
